html,
body {
  height: 100%;
  padding: 10px;
}

.centerStyle {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: unset !important;
}

.profile {
  padding: 60px 40px 0px;
  max-width: 600px;
  margin: 0 auto;
}

.profile-head {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

#avatar-img {
  border-style: none;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

#ava-name {
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 3em;
  color: #222;
}

.highlight {
  color: #4f0b7b;
}

.profile h2 {
  font-size: 20px;
  font-weight: 400;
  color: #aaa;
  margin-top: 10px;
  font-style: normal;
}

.highlight a:visited {
  color: #4f0b7b;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 40px 40px 40px;
}

#list-icon {
  margin-top: 0px;
  margin-right: 16px;
  width: 56px;
  height: 56px;
}

.list-item-icon {
  margin-top: 0px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
}

.wrapper h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.nav-icon {
  width: 30px;
  margin-left: 10px;
}

.footer {
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 540px) {
  .wrapper h3 {
    margin-left: 10px;
    font-size: 1rem;
  }

  .wrapper p {
    margin-left: 10px;
  }

  #list-icon {
    width: 48px;
    height: 48px;
  }

  .list-item-icon {
    margin-top: 0px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    }

    .footer {
      font-size: 0.6rem;
      height: 60px;
  }
}